@import '../../styles/colors';
@import '../../styles/typo';
@import '../../styles/sizes';

.footerText {
  color: $light-grey;
  font-size: 18px;
  font-weight: bold;
  font-family: $default-font;
  text-align: center;
  margin: 20px 0;
}

.horizontalDivider {
  width: 50%;
}

.socialIcon {
  width: 40px !important;
  height: 40px !important;

  &:not(:first-of-type) {
    margin-left: $default-unit;
  }
}
