@import '../../styles/colors';
@import '../../styles/sizes';

.navEmail {
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  line-height: 2;
  border: 1px solid $call-to-action;
  transition: all .3s;
  @media (min-width: 640px) {
    width: 185px;
  }

  &:hover {
    color: $call-to-action;
    background-color: transparent;
    box-shadow: inset 0 0 1px;
  }

  i {
    @media (max-width: $phone) {
      vertical-align: middle;
    }
  }
}
