@import '../styles/_sizes.scss';
@import '../styles/partials/pageTitle';
@import '../styles/partials/alignCenter';

.profileImage {
  width: 250px;
  border-radius: 50%;
  margin: $default-unit*5 auto;
  display: block
}

.aboutContent {
  composes: alignCenter; // used like a mixin

  @media (max-width: $phone) {
    padding-left: 20px;
    padding-right: 20px;
  }
}
