@import '../styles/colors';

.projectPreviewContainer {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: pointer;
  margin-bottom: 40px;
  border: none;
  transform: all .35s ease-in;

  img {
    display: block;
    position: relative;
  	transition: all 0.35s ease-in-out;

  }

  h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.6);
  	float: left;
  	margin: 0px;
  	display: inline-block;
  }

  span {
  	float: right;
  	color: #3c4a50;
  	font-size: 1.4em;
  }

  h2, span {
  	transition: transform 0.35s;
  	transform: translate3d(0,200%,0);
  }

  span span:before {
  	display: inline-block;
  	padding: 8px 10px;
  	speak: none;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
  }

  &:hover {
    img {
      transform: translate3d(0,-10%,0);
    }

    span:hover,
    span:focus {
      color: #252d31;
    }

    .projectPreviewInfo, h2, span {
      transform: translate3d(0,0,0);
    }

    h2 {
      transition-delay: 0.05s;
    }

    span:first-child {
    	transition-delay: 0.2s !important;
    }

    span:nth-child(2) {
    	transition-delay: 0.15s !important;
    }

    span:nth-child(3) {
      transition-delay: 0.1s !important;
    }
  }
}

.projectPreviewInfo {
  width: 100%;
  position: absolute;
  overflow: hidden;
  left: 0;
	top: auto;
	bottom: 0;
	padding: 1em;
	height: 4.75em;
	background: #fff;
	color: #3c4a50;
	transition: transform 0.35s;
	transform: translate3d(0,100%,0);
}
