@import '../../styles/typo';
@import '../../styles/sizes';
@import '../../styles/colors';

/* TODO: move this to partials/sizes */
$nav-height-control: $default-unit * 5;

.navBarOuter {
  position: fixed;
  height: $nav-height-control;
  width: 100%;
  background: $navbar-bg;
  border-bottom: 1px solid rgba(0,0,0,.7);
  font-family: $navbar-font;
  line-height: $nav-height-control;
  color: #fff;
  z-index: 1;
}

.navBarInner {
  display: flex;
  max-width: 880px;
  justify-content: space-between;
  margin: auto;
  padding-left: .9375rem;     /* Foundation column */
  padding-right: .9375rem;    /* Foundation column */
}

.navItems, .navLogo {
  display: inline-block;
  margin: auto auto auto 0;
}

.navItems {
  li {
    display: inline-block;
    margin: auto auto auto 0;
  }
}

.navLogo {
  display: flex;
  flex-direction: column;
  font-family: 'Russo One', sans-serif;
  font-size: 16px;

  a {
    color: #fff;
  }
}

.navLink {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
  line-height: $nav-height-control;
  transition: all .4s;

  &:hover {
    background: lighten($navbar-bg, 20%);
  }
  &:hover, &:focus {
    color: #fff !important;
  }
}
.activeLink {
  background: darken($navbar-bg, 80%);
  border-bottom: 3px solid $alert-red;
  color: #fff;
}
