@import '../../styles/sizes';
@import '../../styles/colors';
@import '../../styles/partials/pageTitle';
@import '../../styles/partials/subtitle';

.projectImage {
  margin-bottom: $space-between-images;
}

.projectTypeLabel {
  font-size: 16px;
  margin-left: $space-between-images;
}

.tagContainer {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  flex-grow: 1;
}

.projectTechLabel {
  padding: 5px 10px;
  margin-right: 5px;
  margin-bottom: 5px;
  font-size: 14px;
  background-color: $light-grey;
}
