body {
  margin: 0;
  padding: 20px;
  font-family: sans-serif;
  background: rgb(243, 243, 243);
}

#root {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: overlay;
}

.page {
  padding-top: 120px;
}

.row {
  max-width: 880px !important; /* overwrites Foundation default */
}
